<div class="container-fluid previsao">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="row">
                <div class="col-md-11">
                    <h3 class="page-header">Previsão do Tempo em <span class="cidade-atual text-success">{{recebeTopo[2]}}-{{recebeTopo[1]}}</span> </h3>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" data-size="sm" data-toggle="toggle" data-on="Salvo" data-off="Salvar" data-onstyle="success" data-offstyle="warning">
                </div>
            </div>
            <hr>
            <div class="row  justify-content-md-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header previsaoatual">
                            Hoje: <span class="dia-atual text-success">Sex - 05/07/2019 </span>
                        </div>
                        <div class="card-body">
                            <h3 class="desc-atual text-info">Tempo Limpo</h3>
                            <table class="table text-info">
                                <tr>
                                    <td>Temperatura atual</td>
                                    <td><span class="text-danger temperatura temperatura-atual">05</span></td>
                                    <td><span class="oi oi-dashboard text-danger img-help iconstemp" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td>Máxima</td>
                                    <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                    <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td>Mínima</td>
                                    <td><span class="text-danger temperatura temperatura-minima-atual">18</span> </td>
                                    <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header ">
                                <span class="dia-2 outrosdias">Sab - 06/07 </span>
                            </div>
                            <div class="card-body">
                                <h5 class="desc-outrosdias text-info">Tempo Limpo</h5>
                                <table class="table text-info">
                                    <tr>
                                        <td>Máxima</td>
                                        <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                        <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mínima</td>
                                        <td><span class="text-danger temperatura temperatura-minima-atual">18</span> </td>
                                        <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header ">
                                <span class="dia-2 outrosdias">Dom - 07/07 </span>
                            </div>
                            <div class="card-body">
                                <h5 class="desc-outrosdias text-info">Chuva</h5>
                                <table class="table text-info">
                                    <tr>
                                        <td>Máxima</td>
                                        <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                        <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mínima</td>
                                        <td><span class="text-danger temperatura temperatura-minima-atual">18</span> </td>
                                        <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header ">
                                <span class="dia-2 outrosdias">Seg - 08/07 </span>
                            </div>
                            <div class="card-body">
                                <h5 class="desc-outrosdias text-info">Nublado</h5>
                                <table class="table text-info">
                                    <tr>
                                        <td>Máxima</td>
                                        <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                        <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mínima</td>
                                        <td><span class="text-danger temperatura temperatura-minima-atual">18</span> </td>
                                        <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header ">
                                <span class="dia-2 outrosdias">Ter - 09/07 </span>
                            </div>
                            <div class="card-body">
                                <h5 class="desc-outrosdias text-info">Ensolarado</h5>
                                <table class="table text-info">
                                    <tr>
                                        <td>Máxima</td>
                                        <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                        <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mínima</td>
                                        <td><span class="text-danger temperatura temperatura-minima-atual">18</span> </td>
                                        <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card">

                            <div class="card-header ">
                                <span class="dia-2 outrosdias">Quar - 10/07 </span>
                            </div>
                            <div class="card-body">
                                <h5 class="desc-outrosdias text-info">Chuva</h5>
                                <table class="table text-info">
                                    <tr>
                                        <td>Máxima</td>
                                        <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                        <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mínima</td>
                                        <td><span class="text-danger temperatura temperatura-minima-atual">18</span> </td>
                                        <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>