<div class="row  justify-content-md-center" *ngIf='previsao === undefined'>
    <div class="box-spinner">
        <div class="spinner">
        </div>
    </div>
</div>

<div class="container-fluid previsao" *ngIf='previsao !== undefined'>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Previsão do Tempo em <span class="cidade-atual text-success">{{recebeTopo.cidade}}-{{recebeTopo.estado}}</span> </h3>
                </div>
            </div>
            <hr>
            <div class="row  justify-content-md-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header previsaoatual">
                            Hoje: <span class="dia-atual text-success">Qua - {{this.previsao.date}} </span>
                        </div>
                        <div class="card-body">
                            <h3 class="desc-atual text-info">{{this.previsao.description}}</h3>
                            <div class="thumbnail">
                                <img class="imagem-atual" src="../assets/{{this.previsao.description}}.png">
                            </div>
                            <table class="table text-info">
                                <tr>
                                    <td>Temperatura atual</td>
                                    <td><span class="text-danger temperatura temperatura-atual">{{this.previsao.temp}}</span></td>
                                    <td><span class="oi oi-dashboard text-danger img-help iconstemp" aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td>Máxima</td>
                                    <td><span class="text-danger temperatura temperatura-maxima-atual">20</span> </td>
                                    <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                </tr>
                                <tr>
                                    <td>Mínima</td>
                                    <td><span class="text-danger temperatura temperatura-minima-atual">11</span> </td>
                                    <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card-deck">
                        <div class="card" *ngFor="let outrasprevisoes of previsao.forecast; let isFirst = first ; let i = index" [class.active]="isFirst">
                            <div class="card-header ">
                                <span class="dia-2 outrosdias">{{previsao.forecast[i].weekday}} - {{previsao.forecast[i].date}}</span>
                            </div>
                            <div class="card-body">
                                <h5 class="desc-outrosdias text-info">{{previsao.forecast[i].description}}</h5>
                                <div class="thumbnail">
                                    <img class="imagem-outros" src="../assets/{{previsao.forecast[i].description}}.png">
                                </div>
                                <table class="table text-info">
                                    <tr>
                                        <td>Máxima</td>
                                        <td><span class="text-danger temperatura temperatura-maxima-atual">{{previsao.forecast[i].max}}</span> </td>
                                        <td><span class="oi oi-arrow-circle-top text-warning img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mínima</td>
                                        <td><span class="text-danger temperatura temperatura-minima-atual">{{previsao.forecast[i].min}}</span> </td>
                                        <td><span class="oi oi-arrow-circle-bottom text-info img-help iconstemp " aria-hidden="true"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
        </div>
    </div>

</div>